:root{
    --font-family: "Gilda Display", serif;
    --text-color: #565656;
    --primary-color: #6D7C6A;
    --secondary-col: #E3572B;
    --gray-color: #F8F8F8;
    --heading-color: #161921;
}
/*----------------luxury-filter-cards---------------*/
.hide-card{
    display: none;
}
.sho-com{
    display: block;
}
.btn-back{
    background: var(--primary-color);
    color: #fff;
}
.isotope-main-cards{
    padding-left: 80px;
    padding-right: 80px;
}
.see-item{
    margin-bottom: 40px;
    
}
.see-imgs{
    position: relative;
    overflow: hidden;
}
.see-imgs img{
    border-radius: 30px;
    width: 100%;
    height: 435px;
}
.see-hover-content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.hide-content{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    width: 90%;
    border-radius: 20px;
    background: rgba(22, 25, 33, 0.6);
    backdrop-filter: blur(44px);
    padding: 20px;
    transition: all 0.5s;
}
.see-item:hover .see-imgs .hide-content{
    bottom: 20px;
}
.see-rating{
    margin-bottom: 10px;
}
.see-rating span{
    color: #FF9500;
    font-size: 22px;
}
.hide-se-h4{
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-family: var(--font-family);
    text-transform: capitalize;
}
.see-price{
    color: #fff;
    font-size: 39px;
    font-weight: 400;
    font-family: var(--font-family);
    margin-bottom: 5px;
}
.see-price .see-time{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}
.see-meta{
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    
}
.see-meta p{
    margin-right: 20px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.see-meta span{
    margin-right: 5px;
    color: #fff;
}
.see-btns{
    border: 1px solid var(--border-color);
    padding: 15px 30px;
    line-height: 20px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.015em;
    transition: all 0.3s;
}
.see-btns span{
    margin-left: 5px;
    transition: all 0.3s;
    display: inline-block;
}
.see-btns:hover{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.see-btns:hover span {
  transform: rotate(-45deg);
}
.show-content{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(22, 25, 33, 0.6);
    backdrop-filter: blur(44px);
    padding: 20px;
    transition: all 0.3s;
}
.see-item:hover .see-imgs .show-content{
    bottom: -100%;
}