:root{
    --font-family: "Gilda Display", serif;
    --text-color: #565656;
    --primary-color: #6D7C6A;
    --secondary-col: #E3572B;
    --gray-color: #F8F8F8;
    --heading-color: #161921;
    --border-color: #d8dde1;
    --para-color: #929292;
}
.our-team{
    background: var(--gray-color);
    padding-bottom: 90px;
    padding-top: 115px;
}
.team-item{
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 30px 0;
    margin-bottom: 30px;
}
.team-item:hover .member-content{
    background: var(--primary-color);
}
.member-content{
    padding: 30px 30px 0;
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 250px 250px 0 0;
    background-color: #F8F8F8;
    transition: all 0.3s;
}
.team-bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    border-radius: 250px 250px 0 0;
}
.memder-img{
    width: 290px;
    height: 250px;
    border-radius: 50%;
}
.member-info{
    padding-top: 20px;
    padding-bottom: 30px;
}
.team-item:hover .member-info h4{
    color: #fff;
}
.member-info h4{
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.3em;
    color: var(--heading-color);
    font-family: var(--font-family);
}
.team-item:hover .position{
    color: var(--border-color);
}
.position{
    font-size: 18px;
    color: var(--text-color);
}
.social-box{
    margin-top: 20px;
}
.social-box a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}
.team-item:hover .social-box a{
    color: #fff;
}