:root{
    --font-family: "Gilda Display", serif;
    --text-color: #565656;
    --primary-color: #6D7C6A;
    --secondary-col: #E3572B;
    --gray-color: #F8F8F8;
    --heading-color: #161921;
    --para-color: #929292;
}
.support-text{
    background-color: var(--gray-color);
    border-radius: 30px;
    padding: 30px 40px;
    margin-top: 40px;
}
.widget-content ul{
    margin-bottom: 25px;
    padding-left: 0;
}
.widget-content ul li{
    margin-bottom: 10px;
    color: var(--heading-color);
    list-style: none;
    font-size: 18px;
}
.side-title-h3{
    font-size: 30px;
    color: var(--heading-color);
    font-family: var(--font-family);
}
.side-title-p{
    color: var(--para-color);
    margin-bottom: 0;
}